@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.App{
  height: 100vh;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.loginDetils {
  height: 50px;
  align-items: center;
}

.detailsOfSections {
  border-left: 1px solid #ddd;
}

.titleMain {
  background-color: #720C20;
  color: #FFFFFF;
  height: 5rem;
}

.sectionList a {
  text-wrap: nowrap;
}

.titleLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  overflow: hidden;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.react-calendar{
  border: 1px solid #0D6EFD !important;
  border-radius: 8px;
}

.LoginMain {
  background-color: #0D6EFD;
  height: 100vh;
}

.LoginMainBanner {
  margin: 100px;
  gap: 20px;
  background-color: #FFFFFF;
}

.loginLogo {
  margin: 10px;
  width: 130px;
  height: 50px;
}

.loginLogo img {
  background: #FFFFFF;
}

.loginInfo,
.loginRememberInfo,
.loginForgotInfo {
  font-size: 12px;
}

.UsernameField input,
.PasswordField input,
.nameField input {
  border: 1px solid#0D6EFD;
  border-radius: 8px;
  padding: 3px 3px 3px 30px;
}

.inputFeedback input, .inputFeedback textarea, .card, .card textarea, .checkInOutMain input{
  border: 1px solid#0D6EFD;
  border-radius: 8px;
}

.inputContainer, .userNameListOfSections {
  position: relative;
  width: 100%;
}

.inputIcon input,
.inputIconBack input,
.inputIcon,
.inputIconBack,
.UsernameField input,
.PasswordField input,
.inputFeedback input,
.inputFeedback textarea,
.card label,
.card p,
.checkInOutMain p,
.checkInOutMain input,
.card textarea,
.nameField input {
  font-size: 14px !important;
}

.currentDate p,
.currentDate strong{
  font-size: 16px !important;
  margin: 0px;
}

.inputIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
}

.inputIconBack {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  cursor: pointer;
}

.detailsOfSections{
  padding: 0px 20px;
}

.weekend, .holiday{
  color: #999 !important;
}

.headingWelcome, .loginDetils p, .titleLogo, .contactUsMain h2, .contactUsMain h4, .feedbackFormMain h2, .react-calendar button, .react-calendar abbr, .holidayMain, .holidayMain strong, .checkInOutMain h2, .checkInOutMain h4, .checkInOutMain h5, .checkInOutMain strong {
  color: #0D6EFD;
  text-decoration: none;
}

.bodyContainer .upperBodyContainer{
  height: 90%;
}

.react-calendar__month-view__days__day abbr:first-child {
  display: none !important;
}

input {
  padding-left: 30px;
  width: 100%;
  box-sizing: border-box;
}

button {
  font-size: 16px;
  font-weight: 500;
  text-wrap: nowrap;
  border: 1px solid #0D6EFD;
  border-radius: 8px;
  background-color: #0D6EFD;
  color: #FFFFFF;
  padding: 5px 10px;
}

.headingWelcome {
  font-size: 30px;
}

.selected-date {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
}

@media screen and (max-width : 1280px) {

  .loginInfo,
  .loginRememberInfo,
  .loginForgotInfo {
    font-size: 10px;
  }

  .UsernameField input,
  .PasswordField input,
  .nameField input,
  .inputIcon input,
  .inputIconBack input,
  .inputIcon,
  .card label,
  .card p,
  .checkInOutMain p,
  .checkInOutMain input,
  .card textarea,
  .inputIconBack {
    font-size: 12px !important;
  }

  button {
    font-size: 14px;
  }

  .headingWelcome {
    font-size: 25px;
  }
}